<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.web>
		<!-- 500 MB in KB -->
		<httpRuntime maxRequestLength="512000" executionTimeout="600" />
	</system.web>

	<system.webServer>
		<security>
			<requestFiltering>
				<!-- 500 MB in bytes -->
				<requestLimits maxAllowedContentLength="524288000" />
			</requestFiltering>
		</security>
	</system.webServer>
</configuration>
