@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <noscript>Please enable java script in your browser.</noscript>
    <title>Signing Portal</title>
    <link rel="icon" type="image/x-icon" href="~/assets/fav04.png" />

    <link asp-append-version="true" href="~/assets/css/bootstrap.min.css"
          rel="stylesheet"
          type="text/css" asp-append-version="true" />
    <link rel="stylesheet" href="~/assets/appcss/ErrorPage.css" asp-append-version="true" />
    <link href="~/local-cdns/Shared/fonts/roboto/roboto.css" rel="stylesheet"
          type="text/css" />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="~/local-cdns/Shared/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/local-cdns/Shared/sweetalert/1.1.3/sweetalert.css" />
</head>
<body>

    <section class="myform-area">
        <div class="container">
            
        </div>
    </section>

</body>

</html>