/* Manrope Font - Local */
@font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    src: url('manrope-regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    src: url('manrope-regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    src: url('manrope-regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 800;
    src: url('manrope-regular.woff2') format('woff2');
}
